In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df = pd.read_csv("movies.csv")
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [45]:
df.shape

(7668, 15)

In [46]:
# Let's see if there i any missing data

for col in df.columns:
    missing = np.mean(df[col].isna())
    print('{} - {}%'.format(col, missing))

name - 0.0%
rating - 0.010041731872717789%
genre - 0.0%
year - 0.0%
released - 0.0002608242044861763%
score - 0.0003912363067292645%
votes - 0.0003912363067292645%
director - 0.0%
writer - 0.0003912363067292645%
star - 0.00013041210224308815%
country - 0.0003912363067292645%
budget - 0.2831246739697444%
gross - 0.02464788732394366%
company - 0.002217005738132499%
runtime - 0.0005216484089723526%

In [56]:
# Data Types for our columns

df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget       object
gross       float64
company      object
runtime     float64
dtype: object

In [84]:
# Filling the missing value with their median
df.isna().sum()

name         0
rating      77
genre        0
year         0
released     2
score        3
votes        3
director     0
writer       3
star         1
country      3
budget       0
gross        0
company     17
runtime      4
dtype: int64

In [85]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,The Shining,The Shining,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,The Blue Lagoon,The Blue Lagoon,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Airplane!,Airplane!,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Caddyshack,Caddyshack,Orion Pictures,98.0

In [120]:
df.isna().sum()

name         0
rating      77
genre        0
year         0
released     2
score        3
votes        0
director     0
writer       3
star         1
country      3
budget       0
gross        0
company     17
runtime      4
dtype: int64

In [127]:
# Filling the missing values

df["rating"] = df["rating"].fillna(method = 'pad')
df["released"] = df["released"].fillna(method = 'pad')
df["score"] = df["score"].fillna(method = 'pad')
df["writer"] = df["writer"].fillna(method = 'pad')
df["star"] = df["star"].fillna(method = 'pad')
df["country"] = df["country"].fillna(method = 'pad')
df["company"] = df["company"].fillna(method = 'pad')
df["runtime"] = df["runtime"].fillna(method = 'pad')

In [129]:
df.isna().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [130]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes         int64
director     object
writer       object
star         object
country      object
budget       object
gross        object
company      object
runtime     float64
dtype: object

In [131]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,The Shining,The Shining,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,The Blue Lagoon,The Blue Lagoon,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Airplane!,Airplane!,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Caddyshack,Caddyshack,Orion Pictures,98.0

In [140]:
# Converting the column "runtime" to interger

df["runtime"] = df["runtime"].astype("int64")
df["score"] = df["score"].astype("int64")

In [141]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,The Shining,The Shining,Warner Bros.,146
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,The Blue Lagoon,The Blue Lagoon,Columbia Pictures,104
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,Lucasfilm,124
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Airplane!,Airplane!,Paramount Pictures,88
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Caddyshack,Caddyshack,Orion Pictures,98

In [145]:
# Create correct column 

df['released'] = df['released'].astype(str).str[:4]

In [146]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,June,8,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,The Shining,The Shining,Warner Bros.,146
1,The Blue Lagoon,R,Adventure,1980,July,5,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,The Blue Lagoon,The Blue Lagoon,Columbia Pictures,104
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,Lucasfilm,124
3,Airplane!,PG,Comedy,1980,July,7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Airplane!,Airplane!,Paramount Pictures,88
4,Caddyshack,R,Comedy,1980,July,7,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Caddyshack,Caddyshack,Orion Pictures,98

In [155]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,June,8,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,The Shining,The Shining,Warner Bros.,146
1,The Blue Lagoon,R,Adventure,1980,July,5,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,The Blue Lagoon,The Blue Lagoon,Columbia Pictures,104
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,Lucasfilm,124
3,Airplane!,PG,Comedy,1980,July,7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Airplane!,Airplane!,Paramount Pictures,88
4,Caddyshack,R,Comedy,1980,July,7,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Caddyshack,Caddyshack,Orion Pictures,98

In [154]:
pd.set_option('display.max_rows', None)

In [156]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,June,8,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,The Shining,The Shining,Warner Bros.,146
1,The Blue Lagoon,R,Adventure,1980,July,5,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,The Blue Lagoon,The Blue Lagoon,Columbia Pictures,104
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,June,8,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,Lucasfilm,124
3,Airplane!,PG,Comedy,1980,July,7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,Airplane!,Airplane!,Paramount Pictures,88
4,Caddyshack,R,Comedy,1980,July,7,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,Caddyshack,Caddyshack,Orion Pictures,98